<h4 class="mt-5">Distribution of occurrences by MARC data field</h4>
<table class="table mt-4">
  <thead>
    <tr>
      <th>Field</th>
      <th class="text-end">%</th>
      <th class=""></th>
      <th class="text-center">Subfields</th>
    </tr>
  </thead>

  <tbody>
    <% marc_profile.record_frequency.sort_by { |key, _value| key }.slice_when { |(k1, _v1), (k2, _v2)| k1.split("$",2).first != k2.split("$",2).first }.each do |field_group| %>
    <% field, *subfields = field_group %>
      <tr class="<%= MarcRules.common_field?(field.first) ? cycle('bg-light', '') : 'bg-local-practice' %>">
        <td class="font-weight-bold"><%= field.first %></td>
        <td class="text-end"><%= number_to_percentage(100.0 * field.last / marc_profile.count, precision: 2) %></td>
        <td>
          <% marc_profile.histogram_frequency[field.first].sort_by { |k, _v| k.to_i }.group_by { |k, v| Math.log(k.to_i).round }.each do |group, values| %>
            <% if group < 2 %>
              <% values.each do |(k, v)| %>
                <%= content_tag :span, "#{k}x: #{number_with_delimiter(v)}", class: 'histogram-bar', data: { key: [k, k], count: v } %>;
              <% end %>
            <% else %>
              <% range = values.map(&:first).minmax_by(&:to_i).map(&:to_i) %>
              <% count = values.map(&:last).sum %>
              <%= content_tag :span, "#{range.uniq.join('-')}x: #{number_with_delimiter(count)}", class: 'histogram-bar', data: { key: range, count: count } %>;
            <% end %>
          <% end %>
        </td>
        <td class="text-center">
          <% if subfields.any? %>
            <button class="btn p-0 m-0 border-0 align-top text-start text-monospace" type="button" data-bs-toggle="collapse" data-bs-target="#histogram-subfields-<%= field.first.parameterize %>" aria-expanded="false" aria-controls="histogram-subfields-<%= field.first.parameterize %>">
              <span class="visually-hidden">Expand</span>
              <i class="bi bi-chevron-right" style="font-size: 20px; width: 20px; height: 20px;"></i>
            </button>
          <% end %>
        </td>
      </tr>
      <% if subfields.any? %>
        <tr id="histogram-subfields-<%= field.first.parameterize %>" class="collapse">
          <td colspan="10" class="pl-5">
            <div class="h3">Example values</div>
            <% values = marc_profile.sampled_values[field.first] %>

            <% if values.uniq { |(value, id)| value }.one? %>
              <% value, id = values.first %>
              <span class="text-monospace"><%= value %> [<%= id %>]</span>
            <% else %>

            <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#profiles-<%= field.first %>" aria-expanded="false" aria-controls="profiles-<%= field.first %>">
              Toggle more/less <i class="bi bi-chevron-right" style="font-size: 12px;"></i>
            </button>
              <div class="position-relative">
                <span class="text-monospace">
                  <% values.first(3).each do |(value, id)| %>
                    <pre class="mb-1"><%= value %> [<%= id %>]</pre>
                  <% end %>

                  <div class="collapse" id="profiles-<%= field.first %>">
                    <% values.uniq { |(value, id)| value }.each do |(value, id)| %>
                      <pre class="mb-1"><%= value %> [<%= id %>]</pre>
                    <% end %>
                  </div>
                </span>
              </div>
            <% end %>

            <div class="h3 mt-3">Subfield distribution</div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Subfield</th>
                  <th>%</th>
                  <th>Occurences</th>
                </tr>
              </thead>

              <% subfields.each do |subfield, count| %>
                <tr class="<%= MarcRules.common_practice?(*subfield.split("$",2)) ? '' : 'bg-local-practice' %>">
                  <td><%= subfield.split('$', 2).last %></td>
                  <td><%= number_to_percentage(100.0 * count / field.last) %></td>
                  <td><%= marc_profile.histogram_frequency[subfield].sort_by { |k, _v| k.to_i }.map { |k, v| "#{k}x: #{v}"}.join(', ') %></td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
