<h4 class="mt-4">Summary</h4>
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>Description</th>
      <th>Fields</th>
      <th>Info</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td></td>
        <td>001</td>
        <td><%= number_with_delimiter(marc_profile.record_frequency['001']) %> of
            <%= number_with_delimiter(marc_profile.count) %>
        </td>
      </tr>
      <tr>
        <td>Holdings data</td>
        <td>85X, 86X, 87X</td>
        <td>85X: <%= marc_profile.record_frequency.keys.any? { |field| field.start_with?('85') } %><br>
        86X: <%= marc_profile.record_frequency.keys.any? { |field| field.start_with?('86') } %><br>
        87X: <%= marc_profile.record_frequency.keys.any? { |field| field.start_with?('87') } %></td>
      </tr>
      <tr>
        <td>Multiscript data</td>
        <td>88X</td>
        <td><%= marc_profile.record_frequency.keys.any? { |field| field.start_with?('88') } %></td>
      </tr>
  </tbody>
</table>
