<div class="container index-page">
  <h1 class="visually-hidden"><%= t('.title') %></h1>

  
  <% if @uploads.first_page? %>
    <h2><%= t('.summary_title') %></h2>

    <!-- Activity summary tabs -->
    <ul class="nav nav-tabs mt-3" id="summary-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="uploads-tab" data-bs-toggle="tab" data-bs-target="#uploads-pane" type="button"
          role="tab" aria-controls="uploads-pane" aria-selected="true">Uploads</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="job-status-tab" data-bs-toggle="tab" data-bs-target="#job-status-pane" type="button"
          role="tab" aria-controls="job-status-pane" aria-selected="false">Job status</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="normalized-data-tab" data-bs-toggle="tab" data-bs-target="#normalized-data-pane"
          type="button" role="tab" aria-controls="normalized-data-pane" aria-selected="false">Normalized data</button>
      </li>
      <!-- TODO: Files tab. See https://github.com/pod4lib/aggregator/issues/677
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="files-tab" data-bs-toggle="tab" data-bs-target="#files-pane" type="button" role="tab"
          aria-controls="files-pane" aria-selected="false">Files</button>
      </li>
      -->
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users-pane" type="button" role="tab"
          aria-controls="users-pane" aria-selected="false">Users</button>
      </li>
    </ul>

    <!-- Activity summary panes (tab content) -->
    <div class="tab-content pt-3" id="summary-tabs-content">
      <%= render 'dashboard/tab_uploads' %>    
      <%= render 'dashboard/tab_jobs' %>    
      <%= render 'dashboard/tab_normalized_data' %>    
      <%= render 'dashboard/tab_files' %>    
      <%= render 'dashboard/tab_users' %>    
    </div>
  <% end %>

  <!-- Upload activity table -->
  <h2 class="mt-5"><%= t('.upload_title') %></h2>
  <ul class="table-key list-unstyled list-inline pt-3" aria-hidden="true">
    <% Settings.metadata_status.each do |status, values| %>
    <li class="list-inline-item">
      <i class="<%= values.icon_class %> pod-metadata-status <%= status %>"></i>
      <span><%= values.label %></span>
    </li>
    <% end %>
  </ul>

  <table class="table table-striped mb-3" id="upload-activity">
    <thead>
      <tr>
        <th class="text-center"><%= t('.table.status') %></th>
        <th><%= t('.table.upload') %></th>
        <th><%= t('.table.filename') %></th>
        <th><%= t('.table.date_created') %></th>
        <th><%= t('.table.provider') %></th>
        <th class="text-end"><%= t('.table.size') %></th>
        <th class="text-end"><%= t('.table.record_count') %></th>
      </tr>
    </thead>
    <tbody>
      <% @uploads.each do |upload| %>
      <% upload.files.each do |file| %>
      <tr>
        <td class="text-center">
          <i class="<%= Settings.metadata_status[file.pod_metadata_status].icon_class %> pod-metadata-status <%= file.pod_metadata_status %>"></i>
          <span class="visually-hidden"><%= Settings.metadata_status[file.pod_metadata_status].label %></span>
        </td>
        <td>
          <%= link_to_if can?(:read, upload), upload.name, organization_upload_path(upload.organization, upload), title: t('.table.upload_title', name: upload.name) %>
        </td>
        <td>
          <%= link_to_if can?(:read, upload), file.filename, download_url(file), title: t('.table.download_title', filename: file.filename) %>
        </td>
        <td><%= local_time(file.created_at, format: datetime_display_format()) %></td>
        <td><%= link_to upload.organization.name, organization_path(upload.organization) %></td>
        <td class="text-end"><%= number_to_human_size file.byte_size %></td>
        <td class="text-end"><%= file.metadata['count'] ? number_with_delimiter(file.metadata['count']) : '-' %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @uploads %>
</div>
