<%= render 'shared/organization_header' %>

<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Marc records</h1>
  </div>
  <%= link_to "view as JSON", format: :json %>

  <table class="table table-striped organizations mt-4">
    <thead>
      <tr>
        <th>marc001</th>
        <th>Stream</th>
        <th>Download</th>
        <th>Type</th>
      </tr>
    </thead>

    <tbody>
      <% @marc_records.each do |marc_record| %>
        <tr>
          <td><%= marc_record.marc001 %></td>
          <td><%= link_to(marc_record.stream.display_name, organization_stream_path(@organization, marc_record.stream)) %></td>
          <td>
            <% unless marc_record.status == 'delete' %>
              <%= link_to('marc21', marc21_organization_marc_record_url(@organization, marc_record)) %>, <%= link_to('marcxml', marcxml_organization_marc_record_url(@organization, marc_record)) %>
            <% end %>
          </td>
          <td><%= marc_record.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @marc_records %>
</div>
