<span class="<%= classes %>">
  <i class="<%= icon_class %> pod-metadata-status <%= status %>" aria-label="<%= label %>"></i>
  <% if show_label %>
    <span class="align-text-bottom"><%= label %></span>
  <% end %>
</span>