<div class="mb-5">
  <div class="accordion" id="jobStatusAccordian">
    <% tab_expanded = false %>
    <% stream.job_tracker_status_groups.each do |status_group, jobs| %>
      <div class="accordion-item">
        <h4 class="accordion-header" id="heading<%= status_group.to_s.classify %>">
          <button class="accordion-button <%= job_status_tabs_collapse(tab_expanded, jobs.count) %>" type="button"
                  data-bs-toggle="collapse" data-bs-target="#collapse<%= status_group.to_s.classify %>"
                  aria-expanded="false" aria-controls="collapse<%= status_group.to_s.classify %>">
            <span class="fw-bold"><%= t("job_tracker.status_group.#{status_group}.label") %></span>&nbsp;
            <span class="badge <%= jobs.count > 0 ? Settings.job_status_group[status_group].badge_class : 'bg-secondary' %>">
              <%= jobs.count %>
            </span>
          </button>
        </h4>
        <div id="collapse<%= status_group.to_s.classify %>" class="accordion-collapse collapse <%= job_status_tabs_collapse(tab_expanded, jobs.count) %>"
             aria-labelledby="heading<%= status_group.to_s.classify %>" data-bs-parent="#jobStatusAccordian">
             <% if jobs.count > 0 then tab_expanded = true end %>
          <div class="accordion-body">
            <% if jobs.count < 1 %>
              <div class="alert alert-info mt-2">
                <%= t("job_tracker.status_group.#{status_group}.job_count_zero") %>
              </div>
            <% else %>
              <% if status_group == :needs_attention %>
                <%= link_to('How to get help', 'https://github.com/pod4lib/aggregator/wiki#getting-help') %>
              <% end %>
              <table class="table table-striped mt-4">
                <thead>
                  <tr>
                    <th class="text-center" aria-hidden="true"><%= t('job_tracker.table_heading.status') %></th>
                    <th><%= t('job_tracker.table_heading.resource') %></th>
                    <th><%= t('job_tracker.table_heading.job_type') %></th>
                    <th><%= t('job_tracker.table_heading.created_at') %></th>
                  </tr>
                </thead>
                <% jobs.sort_by(&:created_at).reverse.each do |job| %>
                  <%= render StreamJobRowComponent.new(job, status_group) %>
                <% end %>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
