<%= render 'shared/layout_manage_organization' do %>
    <h3><%= t('organization_users.index.title') %></h3>
    <%= link_to t('organization_users.index.invite_user'), organization_invite_new_path(@organization), class: 'btn btn-sm btn-primary mt-3' if can? :manage, @organization %>
    <table class="table table-striped organizations mt-4">
        <thead>
            <tr>
                <th scope="col"><%= t('organization_users.index.email') %></th>
                <th scope="col"><%= t('organization_users.index.name') %></th>
                <th scope="col"><%= t('organization_users.index.job_title') %></th>
                <% if can? :manage, @organization %>
                <th scope="col" class="text-center"><%= t('organization_users.index.is_owner') %></th>
                <th scope="col" class="text-center"><%= t('organization_users.index.actions') %></th>
                <% else %>
                <th scope="col"><%= t('organization_users.index.role') %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @organization.roles.each do |role| %>
            <% role.users.each do |user| %>
            <tr>
                <td class="align-middle"><%= mail_to user.email %></td>
                <td class="align-middle"><%= user.name %></td>
                <td class="align-middle"><%= user.title %></td>
                <% if can? :manage, @organization %>
                <td class="text-center align-middle">
                    <div class="form-check form-switch align-middle d-inline-block">
                    <% if role.name == 'owner' %>
                    <%= link_to '', organization_user_path(@organization, user, remove_role: 'owner'), method: :patch, data: { confirm: t('organization_users.index.confirm_action') }, class: 'form-check-input checked', title: t('organization_users.index.remove_owner') %>
                    <input class="form-check-input pe-none" type="checkbox" aria-hidden="true" checked>
                    <% else %>
                    <%= link_to '', organization_user_path(@organization, user, add_role: 'owner'), method: :patch, data: { confirm: t('organization_users.index.confirm_action') }, class: 'form-check-input', title: t('organization_users.index.add_owner') %>
                    <% end %>
                    </div>
                </td>
                <td class="align-middle text-center">
                    <%= link_to t('organization_users.index.remove_user'), organization_user_path(@organization, user), method: :delete, data: { confirm: t('organization_users.index.confirm_action') }, class: 'btn btn-danger btn-sm' %>
                </td>
                <% else %>
                <td class="align-middle"><%= role.name.capitalize %></td>
                <% end %>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
<% end %>
