<div class="container index-page">
  <h1 class="h2"><%= t('.title') %></h1>
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th scope="col"><%= t('organization_users.index.email') %></th>
        <th scope="col"><%= t('organization_users.index.name') %></th>
        <th scope="col"><%= t('.organization') %></th>
        <th scope="col" class="text-center"><%= t('.is_admin') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td class="align-middle"><%= mail_to user.email %></td>
        <td class="align-middle"><%= user.name %></td>
        <td class="align-middle">
          <% if user.organizations.present? %>
          <%= link_to user.organizations.first.name, organization_users_path(user.organizations.first) %>
          <% end %>
        </td>
        <td class="text-center align-middle">
          <div class="form-check align-middle d-inline-block">
            <% if user.has_role? :admin %>
            <%= link_to '', site_user_path(user, remove_role: 'admin'), data: { turbo_method: :patch, turbo_confirm: t('organization_users.index.confirm_action') }, class: 'form-check-input checked', title: t('.remove_admin') %>
            <input class="form-check-input pe-none" type="checkbox" aria-label="Pod admin?" checked>
            <% else %>
            <%= link_to '', site_user_path(user, add_role: 'admin'), data: { turbo_method: :patch, turbo_confirm: t('organization_users.index.confirm_action') }, class: 'form-check-input', title: t('.add_admin') %>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
