<turbo-frame id="normalized_data_tab">
    <table class="table table-striped mb-3" id="normalized-data-table">
      <thead>
        <tr>
          <th><%= t('dashboard.summary.table.provider') %></th>
          <th><%= t('dashboard.summary.table.last_full_dump') %></th>
          <th class="text-end pe-4"><%= t('dashboard.summary.table.total_records') %></th>
          <th><%= t('dashboard.summary.table.last_delta') %></th>
          <th class="text-end pe-4"><%= t('dashboard.summary.table.delta_records') %></th>
        </tr>
      </thead>
      <tbody>
        <% normalized_data_by_provider.each do |provider, dump| %>
        <tr>
          <th class="fw-normal align-middle"><%= link_to provider.name, normalized_data_organization_stream_path(provider, provider.default_stream), data: { turbo: false } %></th>
          <% if dump %>
            <!-- Last full dump: -->
            <td>
              <%= local_time(dump.created_at, format: datetime_display_format()) if dump.created_at %>
            </td>
            <!-- Dump records: -->
            <td class="text-end pe-4">
              <%= number_with_delimiter(dump.record_count) %>
            </td>

            <% if dump.last_delta_dump %>
              <!-- Last delta: -->
              <td>
                <%= local_time(dump.last_delta_dump.effective_date, format: datetime_display_format()) %>
              </td>
              <!-- Last delta records: -->
              <td  class="text-end pe-4">
                <%= number_with_delimiter(dump.last_delta_dump.record_count) %>
              </td>
            <% else %>
              <td>
                <i class="bi bi-exclamation-triangle-fill text-warning pod-icon"></i>
              </td>
              <td class="text-end pe-4">0</td>
            <% end %>
          <% else %>
            <td>
              <i class="bi bi-exclamation-triangle-fill text-warning pod-icon"></i>
            </td>
            <td class="text-end pe-4">0</td>
            <td>
              <i class="bi bi-exclamation-triangle-fill text-warning pod-icon"></i>
            </td>
            <td></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </turbo-frame>
