<turbo-frame id="normalized_data_tab">
    <table class="table table-striped mb-3" id="normalized-data-table">
      <thead>
        <tr>
          <th><%= t('dashboard.summary.table.provider') %></th>
          <th><%= t('dashboard.summary.table.last_full_dump') %></th>
          <th class="text-end pe-4"><%= t('dashboard.summary.table.total_records') %></th>
          <th><%= t('dashboard.summary.table.last_delta') %></th>
        </tr>
      </thead>
      <tbody>
        <% normalized_data_by_provider.each do |provider, dump| %>
        <tr>
          <td><%= link_to provider.name, normalized_data_organization_stream_path(provider, provider.default_stream), data: { turbo: false } %></td>
          <!-- Last full dump: -->
          <td>
              <% if dump && dump.created_at %>
                <%= local_time(dump.created_at, format: datetime_display_format()) %>
              <% else %>
                <i class="bi bi-exclamation-triangle-fill text-warning"></i>
              <% end %>
          </td>
          <!-- Dump records: -->
          <td class="text-end pe-4">
            <% if dump %>
              <%= number_with_delimiter(dump.record_count) %>
            <% else %>
              0
            <% end %>
          </td>
          <!-- Last delta: -->
          <td>
            <% if dump && dump.deltas.any? %>
              <%= local_time(dump.deltas.maximum(:effective_date), format: datetime_display_format()) %>
            <% else %>
              <i class="bi bi-exclamation-triangle-fill text-warning"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </turbo-frame>
