<div class="container index-page">
  <h1 class="visually-hidden"><%= t('dashboard.summary.title') %></h1>

  <h2><%= t('dashboard.summary.summary_title') %></h2>

  <!-- Activity summary tabs -->
  <ul class="nav nav-tabs mt-3" id="summary-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="uploads-tab" data-bs-toggle="tab" data-bs-target="#uploads-pane" type="button"
        role="tab" aria-controls="uploads-pane" aria-selected="true">Uploads</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="normalized-data-tab" data-bs-toggle="tab" data-bs-target="#normalized-data-pane"
        type="button" role="tab" aria-controls="normalized-data-pane" aria-selected="false">Normalized data</button>
    </li>
    <!-- TODO: Files tab. See https://github.com/pod4lib/aggregator/issues/677
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="files-tab" data-bs-toggle="tab" data-bs-target="#files-pane" type="button" role="tab"
        aria-controls="files-pane" aria-selected="false">Files</button>
    </li>
    -->
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users-pane" type="button" role="tab"
        aria-controls="users-pane" aria-selected="false">Users</button>
    </li>
  </ul>

  <!-- Activity summary panes (tab content) -->
  <div class="tab-content pt-3" id="summary-tabs-content">
    <!-- Uploads tab - rendered by default, not lazy-loaded -->
    <div id="uploads-pane" class="tab-pane fade show active" role="tabpanel">
      <%= render Dashboard::UploadsTabComponent.new %>
    </div>

    <!-- Normalized Data tab -->
    <div id="normalized-data-pane" class="tab-pane fade" role="tabpanel">
      <%= helpers.turbo_frame_tag "normalized_data_tab", src: dashboard_tab_path(:normalized_data), loading: "lazy" do %>
        <div class="text-muted">Loading Normalized Data…</div>
      <% end %>
    </div>

    <!-- Users tab -->
    <div id="users-pane" class="tab-pane fade" role="tabpanel">
      <%= helpers.turbo_frame_tag "users_tab", src: dashboard_tab_path(:users), loading: "lazy" do %>
        <div class="text-muted">Loading Users…</div>
      <% end %>
    </div>
  </div>
</div>
