<div class="tab-pane fade show active" id="uploads-pane" role="tabpanel" aria-labelledby="uploads-tab">
    <table class="table table-striped mb-3" id="uploads-table">
      <thead>
        <tr>
          <th><%= t('dashboard.summary.table.provider') %></th>
          <!-- TODO: Sparkline goes here, see https://github.com/pod4lib/aggregator/issues/679 -->
          <!-- <th class="text-center"><%= t('dashboard.summary.table.history') %></th> -->
          <th><%= t('dashboard.summary.table.last_upload') %></th>
          <th class="text-center"><%= t('dashboard.summary.table.status') %></th>
          <th><%= t('dashboard.summary.table.last_successful_upload') %></th>
          <th class="text-center"><%= t('dashboard.summary.table.recent_success') %></th>
        </tr>
      </thead>
      <tbody>
        <% recent_uploads_by_provider.each do |provider, uploads| %>
        <tr>
          <td><%= link_to provider.name, organization_uploads_path(provider) %></td>
          
          <!-- TODO: Sparkline goes here, see https://github.com/pod4lib/aggregator/issues/679 -->
          <!-- <td class="text-center"></td> -->

          <!-- Most recent upload: -->
          <td>
            <% if uploads.present? %>
              <%= link_to helpers.local_time(uploads[0].created_at, format: helpers.datetime_display_format()), organization_upload_path(provider, uploads[0]) %>
            <% else %>
              <i class="bi bi-exclamation-triangle-fill text-warning"></i>
            <% end %>
          </td>
          <!-- Most recent upload status: -->
          <td class="text-center">
            <% if uploads.present? %>
              <% status = files_status(uploads[0]) %>
              <%= render StatusIcons::JobStatusIconComponent.new(status: status) %>
            <% else %>
              <i class="bi bi-exclamation-triangle-fill text-warning" role="img" aria-label="Missing upload"></i>
            <% end %>
          </td>
          <!-- Date of successful upload: -->
          <td>
            <% if last_successful_upload_date = provider.uploads.where(status: 'processed', marc_records_count: 1..).maximum(:created_at) %>
              <%= helpers.local_time(last_successful_upload_date, format: helpers.datetime_display_format()) %>
            <% else %>
              <p>No prior successful uploads</p>
            <% end %>
          </td>
          <!-- Did any uploads succeed in past 30 days? -->
          <td class="text-center">
            <% if provider.upload_in_last_30_days? %>
              <% status = best_status(uploads) %>
              <%= render StatusIcons::JobStatusIconComponent.new(status: status) %>
            <% else %>
              <p class="mb-0">No uploads in last 30 days</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
