<div class="tab-pane fade show active" id="uploads-pane" role="tabpanel" aria-labelledby="uploads-tab">
    <table class="table table-striped mb-3" id="uploads-table">
      <thead>
        <tr>
          <th><%= t('dashboard.summary.table.provider') %></th>
          <th><%= t('dashboard.summary.table.history') %></th>
          <th><%= t('dashboard.summary.table.last_upload') %></th>
          <th><%= t('dashboard.summary.table.last_successful_upload') %></th>
        </tr>
      </thead>
      <tbody>
        <% recent_uploads_by_provider.each do |provider, uploads| %>
        <tr>
          <th class="fw-normal"><%= link_to provider.name, organization_uploads_path(provider) %></th>
          
          <!-- Did any uploads succeed in past 30 days? -->
          <td>
            <% if provider.upload_in_last_30_days? %>
              <%= render Dashboard::UploadStatusSparklineComponent.new(uploads: uploads) %>
            <% else %>
              <p class="mb-0">No uploads in last 30 days</p>
            <% end %>
          </td>

          <!-- Most recent upload: -->
          <td>
            <% if uploads.present? %>
              <%= render StatusIcons::MetadataStatusIconComponent.new(status: uploads.first.metadata_status) %>
              <%= link_to helpers.local_time(uploads[0].created_at, format: helpers.datetime_display_format()), organization_upload_path(provider, uploads[0]) %>
            <% else %>
              <i class="bi bi-exclamation-triangle-fill text-warning"></i>
            <% end %>
          </td>
          <!-- Last successful upload: -->
          <td>
            <% if last_successful_upload = provider.uploads.where(status: 'processed', metadata_status: 'success', marc_records_count: 1..).order(created_at: :desc).first %>
              <%= render StatusIcons::MetadataStatusIconComponent.new(status: last_successful_upload.metadata_status) %>
              <%= link_to helpers.local_time(last_successful_upload.created_at, format: helpers.datetime_display_format()), organization_upload_path(provider, last_successful_upload)  %>
            <% else %>
              <p>No prior successful uploads</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
