<turbo-frame id="users_tab">
  <table class="table table-striped mb-3" id="users-table">
    <thead>
      <tr>
        <th><%= t('dashboard.summary.table.provider') %></th>
        <th class="text-end"><%= t('dashboard.summary.table.members') %></th>
        <th class="text-end"><%= t('dashboard.summary.table.owners') %></th>
        <th class="text-end pe-4"><%= t('dashboard.summary.table.pod_admins') %></th>
      </tr>
    </thead>
    <tbody>
      <% users_by_organization.each do |organization, users| %>         
          <tr>
              <td><%= link_to organization.name, organization_users_path(organization), data: { turbo: false } %></td>

              <% num_roles = count_roles(users) %>      
              <!-- Members: -->
              <td class="text-end"><%= num_roles[:member] %></td>

              <!-- Owners: -->
              <td class="text-end"><%= num_roles[:owner] %></td>

              <!-- Admins: -->
              <td class="text-end pe-4"><%= num_roles[:admin] %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</turbo-frame>