<div id="access-summary-table">
  <h4 class="mt-4"><%= t('downloaders.access_summary_table_component.heading_html') %></h4>
  <p><%= t('downloaders.access_summary_table_component.description_html', org_name: @organization.name).html_safe %></p>
  <table class="table table-striped mb-3">
    <thead>
      <tr>
        <th class="visually-hidden">Icon</th>
        <th><%= t('downloaders.access_summary_table_component.table_heading.organization') %></th>
        <th class="text-end"><%= t('downloaders.access_summary_table_component.table_heading.access', org_name: @organization.name) %></th>
        <th><%= t('downloaders.access_summary_table_component.table_heading.grantor_reason', org_name: @organization.name) %></th>
        <th class="text-end"><%= t('downloaders.access_summary_table_component.table_heading.accessible', org_name: @organization.name) %></th>
        <th><%= t('downloaders.access_summary_table_component.table_heading.grantee_reason', org_name: @organization.name) %></th>
      </tr>
    </thead>
    <tbody>
      <% other_organizations.each do |other_org| %>
        <%= render Downloaders::AccessSummaryTableRowComponent.new(organization: @organization, other_org: other_org) %>
      <% end %>
    </tbody>
  </table>
</div>
