<div class="d-flex align-items-center">
  <%= link_to organization_downloaders_path(stream.organization) do %>
    <%= StatusIcons::DownloadAccessLockIconComponent.new(status: can?(:read, stream) ? 'can_access' : 'cannot_access', classes:'h2 pe-2').call %>
  <% end %>
  <h2 class="font-weight-normal mb-0">
    Stream: <%= stream.display_name %>
  </h2>

  <div class="p-2">
    <%= render StreamBadgeComponent.new(stream: stream) %>
    <% if can? :read, stream %>
      <%= link_to can?(:edit, stream) ? t('.manage_streams') : t('.view_streams'), organization_streams_path(stream.organization) %>
      <span class="badge bg-secondary"><%= stream.organization.streams.active.count %></span>
    <% end %>
  </div>

  <div class="ms-auto p-2">
    <%= link_to t('.upload'), new_organization_upload_path(stream.organization, stream: (stream.default? ? nil : stream.friendly_id)), class: 'btn btn-primary' if can? :create, stream.uploads.build %>
    <%= link_to t('.reanalyze'), reanalyze_organization_stream_path(stream.organization, stream), data: { turbo_method: :post }, class: 'btn btn-secondary align-self-center' if can?(:manage, stream) %>
  </div>
</div>
