<% if normalized_dump %>
  <table class="table table-striped mb-0">
    <thead>
      <th>Type</th>
      <th class="pl-4">File</th>
      <th>Date created</th>
      <th>Size</th>
      <th class="text-end pr-4">Records</th>
    </thead>
    <tbody>
      <%= render partial: 'streams/dump_attachment', locals: { type: 'Full', attachment: normalized_dump.marc21.attachment, stream: normalized_dump.stream } %>
      <%= render partial: 'streams/dump_attachment', locals: { type: 'Full', attachment: normalized_dump.marcxml.attachment, stream: normalized_dump.stream } %>

      <% normalized_dump.deltas.sort_by(&:created_at).each do |delta| %>
        <%= render partial: 'streams/dump_attachment', locals: { type: 'Delta', attachment: delta.marc21.attachment, stream: normalized_dump.stream } %>
        <%= render partial: 'streams/dump_attachment', locals: { type: 'Delta', attachment: delta.marcxml.attachment, stream: normalized_dump.stream } %>
        <%= render partial: 'streams/dump_attachment', locals: { type: 'Deletes', attachment: delta.deletes.attachment, stream: normalized_dump.stream } %>
      <% end %>
    </tbody>
  </table>
<% end %>
