<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h3 class="h5 align-self-center mb-0">Files <%= number_with_delimiter stream.files.size %> | Size <%= number_to_human_size stream.files.sum(:byte_size) %></h3>
    <%= link_to 'Upload file', new_organization_upload_path(@organization, stream: (stream.default? ? nil : stream.friendly_id)), class: 'btn btn-primary' %>
  </div>

  <table class="table table-striped mb-0">
    <thead><th class="pl-4">File</th><th>Date created</th><th>Size</th><th>Content type</th><th class="text-right">Records</th><th><span class="sr-only">File status</span></th></thead>
    <tbody>
    <% stream.uploads.each_with_index do |upload, ix| %>
        <% upload.files.each do |file| %>
          <tr>
            <td class="pl-4"><%= link_to file.filename, download_url(file) %></td>
            <td><%= l(file.created_at, format: :short) %></td>
            <td><%= number_to_human_size file.byte_size %></td>
            <td><%= file.content_type %></td>
            <td class="text-right"><%= file.metadata['count'] ? number_with_delimiter(file.metadata['count']) : '???' %></td>
            <td class="text-left">
              <span class="pod-metadata-status <%= file.pod_metadata_status %>" title="<%= file.metadata['error'] %>">
                <span class="sr-only"><%= file.pod_metadata_status %></span>
              </span>
            </td>
          </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<% if stream.normalized_dumps.last %>
  <div class="card mt-5">
    <div class="card-header d-flex justify-content-between">
      <h3 class="h5 align-self-center mb-0">Normalized data</h3>
    </div>

    <table class="table table-striped">
      <thead><th></th><th class="pl-4">File</th><th>Date created</th><th>Size</th><th class="text-right pr-4">Records</th></thead>
      <tbody>
        <tr>
          <td><span class="badge badge-danger">Deletes</span></td>
          <td class="pl-4">
            <%= link_to 'deleted-records.txt', removed_since_previous_stream_organization_stream_url(@organization, stream), download: true %>
          </td>
          <td class="font-italic">n/a</td>
          <td class="font-italic">n/a</td>
          <td class="font-italic pr-4 text-right">n/a</td>
        </tr>
        <% stream.normalized_dumps.last.full_dump_binary.attachments.each do |attachment| %>
          <tr>
            <td><span class="badge badge-primary">Full</span></td>
            <td class="pl-4"><%= link_to attachment.filename, download_url(attachment) %></td>
            <td><%= l(attachment.created_at, format: :short) %></td>
            <td><%= number_to_human_size attachment.byte_size %></td>
            <td class="pr-4 text-right"><%= attachment.metadata['count'] ? number_with_delimiter(attachment.metadata['count']) : '???' %></td>
          </tr>
        <% end %>
        <% stream.normalized_dumps.last.full_dump_xml.attachments.each do |attachment| %>
          <tr>
            <td><span class="badge badge-primary">Full</span></td>
            <td class="pl-4"><%= link_to attachment.filename, download_url(attachment) %></td>
            <td><%= l(attachment.created_at, format: :short) %></td>
            <td><%= number_to_human_size attachment.byte_size %></td>
            <td class="pr-4 text-right"><%= attachment.metadata['count'] ? number_with_delimiter(attachment.metadata['count']) : '???' %></td>
          </tr>
        <% end %>
        <% stream.normalized_dumps.last.delta_dump_binary.attachments.each do |attachment| %>
          <tr>
            <td><span class="badge badge-secondary">Delta</span></td>
            <td class="pl-4"><%= link_to attachment.filename, download_url(attachment) %></td>
            <td><%= l(attachment.created_at, format: :short) %></td>
            <td><%= number_to_human_size attachment.byte_size %></td>
            <td class="pr-4 text-right"><%= attachment.metadata['count'] ? number_with_delimiter(attachment.metadata['count']) : '???' %></td>
          </tr>
        <% end %>
        <% stream.normalized_dumps.last.delta_dump_xml.attachments.each do |attachment| %>
          <tr>
            <td><span class="badge badge-secondary">Delta</span></td>
            <td class="pl-4"><%= link_to attachment.filename, download_url(attachment) %></td>
            <td><%= l(attachment.created_at, format: :short) %></td>
            <td><%= number_to_human_size attachment.byte_size %></td>
            <td class="pr-4 text-right"><%= attachment.metadata['count'] ? number_with_delimiter(attachment.metadata['count']) : '???' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
