<div class="d-flex justify-content-center mt-3 mb-2">
  <div class="stream-metadata-box bg-light border border-bg-secondary text-center">
    <div id="box-header" class="text-light py-1 px-4 text-uppercase fw-bolder">
      <% stream_updated = stream.uploads.last&.updated_at || stream.updated_at %>
          Stream updated: <%= content_tag :span, "#{time_ago_in_words(stream_updated)} ago", title: local_time(stream_updated, format: datetime_display_format()) %>
    </div>
    <div id="box-files" class="box-metadata">Files:
      <span class="fw-bold"><%= number_with_delimiter stream.statistic&.file_count || 0 %></span>
    </div>
    <div id="box-filesize" class="box-metadata">Total file size:
      <span class="fw-bold"><%= number_to_human_size stream.statistic&.file_size || 0 %></span>
    </div>
    <div id="box-records" class="box-metadata">Records:
      <span class="fw-bold"><%= number_with_delimiter stream.statistic&.record_count || 0 %></span>
    </div>
    <div id="box-unique-records" class="box-metadata">Unique records:
      <span class="fw-bold"><%= number_with_delimiter stream.statistic&.unique_record_count || 0 %></span>
    </div>
  </div>
</div>
