<div class="d-flex justify-content-center mt-3 mb-2">
  <div class="stream-metadata-box bg-light border border-bg-secondary text-center">
    <div id="box-header" class="text-light py-1 px-4 text-uppercase fw-bolder d-flex justify-content-center align-items-center">
      <% stream_updated = stream.uploads.last&.updated_at || stream.updated_at %>
          Stream updated: <%= time_ago_in_words(stream_updated) %> ago
          <button class="btn btn-link p-0 ms-2" aria-label="info about stream update lag" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Statistics are calculated daily and might not reflect the most recent uploads.">
            <i class="bi bi-info-circle-fill text-light"></i>
          </button>
    </div>
    <div id="box-files" class="box-metadata">Files:
      <span class="fw-bold"><%= number_with_delimiter stream.statistic&.file_count || 0 %></span>
    </div>
    <div id="box-filesize" class="box-metadata">Total file size:
      <span class="fw-bold"><%= number_to_human_size stream.statistic&.file_size || 0 %></span>
    </div>
    <div id="box-records" class="box-metadata">Records:
      <span class="fw-bold"><%= number_with_delimiter stream.statistic&.record_count || 0 %></span>
    </div>
    <div id="box-unique-records" class="box-metadata">Unique records:
      <span class="fw-bold"><%= number_with_delimiter stream.statistic&.unique_record_count || 0 %></span>
    </div>
  </div>
</div>
