<%= render 'shared/organization_header' %>

<div class="container">
  <div class="d-flex justify-content-between">
    <h2>Streams</h2>
    <%= link_to 'Create new stream', new_organization_stream_path(@organization), class: 'btn btn-primary align-self-center' if can? :create, @organization.streams.build %>
  </div>

  <table class="table table-striped organizations mt-4">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Last updated</th>
        <th class="text-end">Files</th>
        <th class="text-end">Size</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @streams.active.each do |stream| %>
      <tr>
        <td class="align-middle"><%= content_tag :span, 'default', class: 'badge bg-info' if stream.default? %></td>
        <td class="align-middle"><%= link_to stream.display_name, organization_stream_path(@organization, stream) %></td>
        <td class="align-middle"><%= local_time(stream.updated_at, format: datetime_display_format()) %></td>
        <td class="align-middle text-end"><%= stream.files.size %></td>
        <td class="align-middle text-end"><%= number_to_human_size stream.files.sum(:byte_size) %></td>
        <td class="align-middle">
          <%= link_to 'Destroy', [@organization, stream], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' if can? :delete, stream %>
        </td>
        <td class="align-middle">
          <%= link_to 'Make default', make_default_organization_streams_path(@organization, stream: stream.slug), method: :post, class: 'btn btn-sm btn-info' if !stream.default? && can?(:manage, stream) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
