<%= render 'shared/organization_header' %>

<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Streams</h1>
    <%= link_to 'Create new stream', new_organization_stream_path(@organization), class: 'btn btn-primary align-self-center' %>
  </div>

  <table class="table table-striped organizations">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Last updated</th>
        <th>File count</th>
        <th>Default?</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @streams.active.each do |stream| %>
        <tr>
          <td><%= content_tag :span, 'default', class: 'badge badge-info' if stream.default? %></td>
          <td><%= link_to stream.display_name, organization_stream_path(@organization, stream) %></td>
          <td><%= stream.updated_at %></td>
          <td><%= stream.files.size %> | <%= number_to_human_size stream.files.sum(:byte_size) %></td>
          <td><%= stream.default %></td>
          <td>
            <%= link_to 'Destroy', [@organization, stream], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :delete, stream %>
          </td>
          <td>
            <%= link_to 'Make default', make_default_organization_streams_path(@organization, stream: stream.slug), method: :post, class: 'btn btn-info' if !stream.default? && can?(:manage, stream) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
