<%= render 'shared/organization_header' %>

<div class="container">
  <div class="d-flex justify-content-between">
    <h2>Streams</h2>
    <%= link_to 'Create new stream', new_organization_stream_path(@organization), class: 'btn btn-primary align-self-center' if can? :create, @organization.streams.build %>
  </div>

  <table class="table table-striped organizations mt-4">
    <thead>
      <tr>
        <th>Name</th>
        <th>Slug</th>
        <th>Status</th>
        <th>Last updated</th>
        <th class="text-end">Files</th>
        <th class="text-end">Size</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @streams.active.sort_by(&:updated_at).reverse.each do |stream| %>
      <tr>
        <td><%= link_to stream.display_name, organization_stream_path(@organization, stream) %></td>
        <td><%= stream.slug %></td>
        <td>
          <%= default_stream_status_badge(stream) if stream.default_stream_histories.any? %>
        </td>
        <td class=""><%= local_time(stream.updated_at, format: datetime_display_format()) %></td>
        <td class="text-end"><%= stream.cached_files_count %></td>
        <td class="text-end"><%= number_to_human_size stream.cached_files_size %></td>
        <td class="text-end">
          <%= link_to 'Make default', make_default_organization_streams_path(@organization, stream: stream.slug), data: { turbo_method: :post }, class: 'btn btn-sm btn-secondary' if !stream.default? && can?(:update, stream) %>
          <%= link_to 'Delete', [@organization, stream], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' if can? :destroy, stream %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
