<%= render 'shared/layout_stream_page' do %>
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Normalized data</h3>
    <div>
      <%= link_to 'Generate full dump', enqueue_full_dump_organization_stream_path(@organization, @stream), data: { 'turbo-method': 'post '}, class: 'btn btn-primary' if can? :manage, @stream %>
      <%= link_to 'Generate delta dump', enqueue_delta_dump_organization_stream_path(@organization, @stream), data: { 'turbo-method': 'post '}, class: 'btn btn-primary' if can? :manage, @stream %>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-header">
      <h4 class="h6 mb-0 ">
        <i class="info-circle-fill text-info"></i>
        <span class="ml-2"><%= t('pages.home.providers.normalized_data.about_title_html') %></span>
      </h4>
    </div>
    <div class="card-body">
      <p class="card-text"><%= t('pages.home.providers.normalized_data.about_description_html') %></p>
    </div>
  </div>

  <%= render 'streams/normalized_dump', normalized_dump: @stream.full_dumps.published.last %>
<% end %>
