<%= render 'shared/organization_header' %>

<div class="container manage-organization-container">
  <%= render 'streams/header', stream: @organization.default_stream %>
  <%= render 'shared/provider_page_header'%>

  <h2>Stream profile</h2>

  <% if @stream.marc_profile %>
    <%= render 'marc_profiles/summary', marc_profile: @stream.marc_profile %>
    <%= render 'marc_profiles/histogram', marc_profile: @stream.marc_profile %>
    <%= render 'marc_profiles/fields', marc_profile: @stream.marc_profile %>
  <% else %>
    <div class="alert alert-info">
      No MARC profiling data found.<br />

      <%= link_to 'Reanalyze', reanalyze_organization_stream_path(@organization, @stream), method: :post, class: 'btn btn-secondary align-self-center mt-3' if can?(:reanalyze, @stream) %>
    </div>
  <% end %>
</div>
