<%= render 'shared/layout_stream_page' do %>
  <h3>MARC analysis</h3>

  <% if @stream.marc_profile %>
    <%= render 'marc_profiles/summary', marc_profile: @stream.marc_profile %>
    <%= render 'marc_profiles/histogram', marc_profile: @stream.marc_profile %>
    <%= render 'marc_profiles/fields', marc_profile: @stream.marc_profile %>
  <% else %>
    <div class="alert alert-info">
      No MARC profiling data found.<br />

      <%= link_to 'Re-analyze', reanalyze_organization_stream_path(@organization, @stream), data: { turbo_method: :post }, class: 'btn btn-secondary align-self-center mt-3' if can?(:reanalyze, @stream) %>
    </div>
  <% end %>
<% end %>
