<% content_for :org_header_section_link do %>
    <%= link_to t('streams.index.provider_home'), organization_path(@organization), class: 'align-self-center' if @organization.provider? %>
<% end %>

<%= render 'shared/organization_header' %>

<div class="container mb-5">
  <%= render 'header', stream: @stream %>

  <%= render 'job_status', stream: @stream %>

  <%= render 'stream_uploads', stream: @stream, uploads: @uploads %>
</div>
