<%= render 'shared/organization_header' %>

<div class="container mb-5">
  <%= link_to 'Streams', organization_streams_path %>
  <div class="d-flex justify-content-between">
    <h1><%= @stream.display_name %></h1>
    <%= link_to 'Make default', make_default_organization_streams_path(@organization, stream: @stream.slug), method: :post, class: 'btn btn-info align-self-center' if !@stream.default? && can?(:manage, @stream) %>
  </div>

  <p class="lead">
    Last updated: <%= content_tag :span, "#{time_ago_in_words(@stream.uploads.last&.updated_at)} ago", title: l(@stream.uploads.last&.updated_at) %>
  </p>
  <p class="lead">
    Records: <%= number_with_delimiter @stream.statistic&.unique_record_count || 0 %> unique (<%= number_with_delimiter @stream.statistic&.record_count || 0%> total)
  </p>

  <%= render 'stream_uploads', stream: @stream  %>
</div>
