<nav class="navbar navbar-dark navbar-expand bg-dark mb-2" role="navigation">
  <div class="container px-3">
    <%= link_to root_url, class: 'navbar-brand' do %>
      <%= inline_svg_pack_tag 'media/packs/images/pod_logo.svg', height: 30, width: 80 %> Aggregator
    <% end %>
    <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class='nav-item'>
        <%= link_to 'Organizations', organizations_url, class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Activity', activity_url, class: 'nav-link', data: { turbolinks: false } %>
      </li>
      <% if can? :manage, User %>
        <li class='nav-item'>
          <%= link_to 'Users', site_users_url, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    </div>

    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to current_user, edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'nav-link', data: { method: :delete } %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
