<nav class="navbar navbar-dark navbar-expand-md bg-dark" role="navigation">
  <div class="container" style="align-items: last baseline">
    <%= link_to root_url, class: 'navbar-brand d-flex align-items-center' do %>
    <%= inline_svg_tag 'pod_logo.svg', height: 24, width: 80, alt: 'POD' %>
    <span><%= t('.brand') %></span>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if current_user %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to t('.providers'), organizations_url, class: class_names('nav-link', { active: current_page?(organizations_url) }) %>
          </li>
          <% if can? :read, :pages_data %>
          <li class="nav-item">
            <%= link_to t('.data'), data_url, class: class_names('nav-link', { active: current_page?(data_url) }), data: { turbo: false } %>
          </li>
          <% end %>
          <% if can? :read, :dashboard %>
          <li class="nav-item">
            <%= link_to t('.activity'), activity_url, class: class_names('nav-link', { active: current_page?(activity_url) }), data: { turbo: false } %>
          </li>
          <% end %>
          <% if can? :manage, User %>
          <li class="nav-item">
            <%= link_to t('.users'), site_users_url, class: class_names('nav-link', { active: current_page?(site_users_url) }) %>
          </li>
          <% end %>
          <% if can? :manage, Group %>
            <li class="nav-item">
              <%= link_to t('.groups'), groups_url, class: class_names('nav-link', { active: current_page?(groups_url) }) %>
            </li>
          <% end %>
          <% if can? :manage, :jobs %>
            <li class="nav-item">
              <%= link_to 'Jobs', jobs_url, class: class_names('nav-link') %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <ul class="navbar-nav justify-content-end flex-grow-1">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <%= current_user.email %>
              <% if current_user.has_role?(:admin) || current_user.has_role?(:superadmin) %>
                <span class="badge <%= current_user&.acting_as_superadmin? ? 'text-bg-warning' : 'border border-warning' %> h-100 my-auto ms-1"><%= t('.is_admin') %></span>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% current_user.organizations.uniq.each do | organization | %>
                <li><%= link_to t('.view_org_page', org: organization.name), organization, class: 'dropdown-item' %></li>
                <li><%= link_to t('.manage_org_page', org: organization.name), organization_users_path(organization), class: 'dropdown-item' if can?(:edit, organization) %></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
              <% end %>
              <li><%= link_to t('.edit_profile'), edit_user_registration_path, class: 'dropdown-item' %></li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <% if can? :become, :superadmin %>
                <% if can? :disclaim, :superadmin %>
                  <li>
                    <%= form_with url: disclaim_superadmin_path, method: 'POST', data: { turbo: false } do %>
                      <%= submit_tag t('.superadmin.disclaim'), class: 'dropdown-item btn-text' %>
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= form_with url: become_superadmin_path, method: 'POST', data: { turbo: false } do %>
                      <%= submit_tag t('.superadmin.become'), class: 'dropdown-item btn-text' %>
                    <% end %>
                  </li>
                <% end %>

                <li>
                  <hr class="dropdown-divider">
                </li>
              <% end %>

              <li>
                <%= link_to t('.logout'), destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to t('.login'), new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
