<nav class="navbar navbar-dark navbar-expand-md bg-dark" role="navigation">
  <div class="container">
    <%= link_to root_url, class: 'navbar-brand' do %>
    <%= inline_svg_pack_tag 'media/packs/images/pod_logo.svg', height: 24, width: 80, alt: '', class: 'd-inline-block align-text-top' %>
    <span class="ms-1"><%= t('.brand') %></span>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-md-5">
        <% if current_user %>
        <li class='nav-item'>
          <%= link_to t('.providers'), organizations_url, class: class_names('nav-link', { active: current_page?(organizations_url) }) %>
        </li>
        <% end %>
        <% if can? :read, :pages_data %>
        <li class='nav-item'>
          <%= link_to t('.data'), data_url, class: class_names('nav-link', { active: current_page?(data_url) }), data: { turbolinks: false } %>
        </li>
        <% end %>
        <% if can? :manage, :dashboard_controller %>
        <li class='nav-item'>
          <%= link_to t('.activity'), activity_url, class: class_names('nav-link', { active: current_page?(activity_url) }), data: { turbolinks: false } %>
        </li>
        <% end %>
        <% if can? :manage, User %>
        <li class='nav-item'>
          <%= link_to t('.users'), site_users_url, class: class_names('nav-link', { active: current_page?(site_users_url) }) %>
        </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-md-auto">
        <% if current_user %>
          <% if current_user.has_role? :admin %>
            <span class="badge bg-warning text-dark h-100 my-auto d-none d-sm-inline"><%= t('.is_admin') %></span>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <%= current_user.email %>
              <% if current_user.has_role? :admin %>
                <span class="badge bg-warning text-dark h-100 my-auto d-inline-block d-md-none"><%= t('.is_admin') %></span>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% current_user.organizations.uniq.each do | organization | %>
                <li><%= link_to t('.view_org_page', org: organization.name), organization, class: 'dropdown-item' %></li>
                <li><%= link_to t('.manage_org_page', org: organization.name), organization_users_path(organization), class: 'dropdown-item' if can?(:edit, organization) %></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
              <% end %>
              <li><%= link_to t('.edit_profile'), edit_user_registration_path, class: 'dropdown-item' %></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to t('.logout'), destroy_user_session_path, class: 'dropdown-item', data: { method: :delete } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to t('.login'), new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
