<% content_for :org_header do %>
<div class="position-relative overflow-hidden mb-5 py-4 bg-light organization border-bottom">
  <div class="container">
    <div class="d-flex align-items-center">
      <% if @organization.icon.attached? %>
      <%= image_tag(@organization.icon, class: 'me-2', height: 50) %>
      <% end %>
      <h1 class="display-5 font-weight-normal m-0">
        <%= @organization.name %>
      </h1>
      <div class="d-flex flex-column ms-4">
        <% if @organization.provider? && @organization.code.present? %>
        <span class="lead"><%= t('.marc_code', code: @organization.code) %></span>
        <% end %>
        <% if @organization.contact_emails.any? %>
        <span class="lead"><%= mail_to @organization.contact_emails.first.email, t('.contact') %></span>
        <% end %>
      </div>
      <div class="ms-auto">
        <% if current_page?(organization_path(@organization)) ||
              current_page?(normalized_data_organization_path(@organization)) ||
              current_page?(processing_status_organization_path(@organization)) || 
              current_page?(profile_organization_stream_path(@organization, @organization.default_stream))
        %>
          <%= link_to can?(:edit, @organization) ? t('.manage_org') : t('.view_org'), organization_users_path(@organization), class: 'align-self-center' %>
        <% elsif @organization.provider? %>
          <%= link_to t('.default_stream'), organization_path(@organization), class: 'align-self-center' %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </div>
</div>
<% end %>
