<div class="position-relative overflow-hidden mb-5 pb-2 pt-4 bg-light organization border-bottom">
  <div class="container">
    <div class="d-flex">
      
      <h1 class="display-5 font-weight-normal p-2">
        <% if @organization.icon.attached? %>
          <%= image_tag(@organization.icon, class: 'organization-icon') %>
        <% end %>
        <%= link_to_unless controller_name == 'organizations', @organization.name, @organization, class: 'text-body' %>
      </h1>

      <p class="lead p-2">
        MARC Organization Code: <%= @organization.code %>
      </p>

      <div class="ms-auto p-2">
        <% if current_page?(organization_path(@organization)) %>
          <%= link_to can?(:edit, @organization) ? 'Manage Organization' : 'View Organization Details', organization_users_path(@organization), class: 'align-self-center' %>
        <% else %>
          <%= link_to 'Default stream', organization_path(@organization), class: 'align-self-center' %>
        <% end %>
      </div>
    </div>



    <%= yield %>
  </div>
</div>
