<% content_for :org_header do %>
<div class="position-relative overflow-hidden mb-5 py-4 bg-light organization border-bottom">
  <div class="container">
    <div class="d-flex align-items-center">
      <% if @organization.icon.attached? %>
        <%= image_tag(@organization.icon, class: 'me-2', height: 50) %>
      <% end %>
      <h1 class="display-5 font-weight-normal m-0">
        <%= @organization.name %>
      </h1>
      <div class="d-flex flex-column ms-4">
        <% if @organization.provider? && @organization.code.present? %>
          <span class="lead"><%= t('.marc_code', code: @organization.code) %></span>
        <% end %>
        <% if @organization.contact_emails.any? %>
          <span class="lead"><%= mail_to @organization.contact_emails.first.email, t('.contact') %></span>
        <% end %>
      </div>
      <div class="ms-auto">
        <%= content_for :org_header_section_link %>
      </div>
    </div>
    <%= yield %>
  </div>
</div>
<% end %>
