<% content_for :org_header do %>
<div class="position-relative overflow-hidden mb-5 py-4 bg-light organization border-bottom">
  <div class="container">
    <div class="d-flex align-items-center">
      <a href="<%= organization_path(@organization) %>" class="d-flex align-items-center text-decoration-dotted">
        <% if @organization.icon.attached? %>
          <%= image_tag(@organization.icon, alt: '', class: 'me-2', height: 50) %>
        <% end %>
        <h1 class="display-5 font-weight-normal m-0">
          <%= @organization.name %>
        </h1>
      </a>
      <div class="d-flex flex-column ms-5">
        <% if @organization.groups.any? %>
          <span class="lead">
            <% @organization.groups.each do |group| %>
              <span class="me-2">
                <% if group.icon.attached? %>
                  <%= image_tag(group.icon, alt: '', class: '', height: 25) %>
                <% end %>
                <%= group.display_name %>
              </span>
            <% end %>
          </span>
        <% end %>
        <% if @organization.provider? && @organization.code.present? %>
          <span class="lead"><%= t('.marc_code', code: @organization.code) %></span>
        <% end %>
        <% if @organization.contact_email.present? %>
          <span class="lead"><%= mail_to @organization.contact_email.email, t('.contact') %></span>
        <% end %>
      </div>
      <div class="ms-auto">
        <% if content_for? :org_header_section_link %>
          <%= content_for :org_header_section_link %>
        <% else %>
          <%= link_to t('shared.organization_header.provider_home'), organization_path(@organization), class: 'align-self-center' if @organization.provider? %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </div>
</div>
<% end %>
