<%= render 'streams/summary_card', stream: @stream %>

<div class="d-flex flex-row justify-content-center">
    <div class="btn-group manage-organization-tabs" role="group" aria-label="Manage organization tabs">
        <% if content_for? :uploaded_files_link %>
          <%= content_for :uploaded_files_link %>
        <% else %>
            <%= link_to "Uploaded files", organization_stream_path(@organization, @stream), class: "btn btn-outline-primary #{current_page_class(organization_stream_path(@organization, @stream))}" %>
        <% end %>

        <%= link_to "Normalized data", normalized_data_organization_stream_path(@organization, @stream), class: "btn btn-outline-primary #{current_page_class(normalized_data_organization_stream_path(@organization, @stream))}" %>

        <%= link_to "Processing status", processing_status_organization_stream_path(@organization, @stream), class: "btn btn-outline-primary #{current_page_class(processing_status_organization_stream_path(@organization, @stream))}" %>

        <%= link_to "MARC analysis", profile_organization_stream_path(@organization, @stream), class: "btn btn-outline-primary #{current_page_class(profile_organization_stream_path(@organization, @stream))}" %>
    </div>
</div>
