<div class="container index-page">
  <h1 class="visually-hidden">Data</h1>
  <h2><%= t('.guidelines.header') %></h2>
  <p><%= t('.guidelines.body_html') %></p>

  <ul>
    <% t('.guidelines.list_items').each do |item| %>
      <li><%= sanitize item %></li>
    <% end %>
  </ul>

  <h2><%= t('.harvesting.header') %></h2>
  <p><%= t('.harvesting.body_html') %></p>

  <h3><%= t('.resource_sync.header') %></h3>
  <p><%= t('.resource_sync.body_html') %></p>

  <div class="card my-4">
      <div class="card-header">
        <h4 class="h6 mb-0"><%= t('.resource_sync.sitemaps') %></h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to t('.resource_sync.original_uploads'), resourcelist_organizations_url %> (real-time)</li>
        <li class="list-group-item"><%= link_to t('.resource_sync.normalized_marcxml'), normalized_resourcelist_organizations_url(flavor: 'marcxml') %> <%= t('.resource_sync.update_cadence') %></li>
        <li class="list-group-item"><%= link_to t('.resource_sync.normalized_marc21'), normalized_resourcelist_organizations_url(flavor: 'marc21') %> <%= t('.resource_sync.update_cadence') %></li>
      </ul>
  </div>
</div>
