<!-- hero section -->
<div id="hero" class="position-relative overflow-hidden p-3 p-md-5 bg-dark text-light">
  <div class="bg-image"></div>
  <div class="container">
    <div class="position-relative text-center mx-auto col-md-7">
      <h1 class="display-4 font-weight-normal mb-2 mb-md-4">
        <%= t('layouts.application.title') %>
      </h1>
      <p class="lead font-weight-normal">
        <%= t('.hero') %>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- stats section -->
  <div class="row bg-light">
    <div class="col-md p-3 p-md-5 text-center border position-relative">
      <h2 class="mb-2 mb-md-4">
        <%= link_to t('.providers.heading'), organizations_url, class: 'stretched-link text-decoration-none text-reset' %>
      </h2>
      <p>
        <%= t('.providers.providers_html', count: @overview.provider_count) %>
        <% if @overview.last_upload.present? %>
        <%= t('.providers.uploaders_html', upload_time: time_ago_in_words(@overview.last_upload.created_at), uploader: @overview.last_upload.organization.name) %>
        <% end %>
      </p>
    </div>
    <div class="col-md p-3 p-md-5 text-center border position-relative">
      <h2 class="mb-2 mb-md-4">
        <%= link_to t('.data.heading'), data_url, class: 'stretched-link text-decoration-none text-reset' %>
      </h2>
      <p>
        <%= t('.data.body_html', count: @overview.total_records, total_records: number_with_delimiter(@overview.total_records), unique_records: number_with_delimiter(@overview.unique_records)) %>
      </p>
    </div>
  </div>
  <% if @overview.organization %>
  <!-- organization section -->
  <div class="row p-3 p-md-5">
    <div class="row text-center">
      <h2 class="d-flex justify-content-center align-items-center">
        <% if @overview.organization.icon.attached? %>
          <%= image_tag(@overview.organization.icon, height: 32, class:'me-2') %>
        <% end %>
        <%= @overview.organization.name %>
      </h2>
      <% if @overview.last_org_files.present? %>
      <p>
        <%= t('.organization.last_upload.one', upload_time: time_ago_in_words(@overview.last_org_files.last.created_at.to_time)) %>
      </p>
      <% elsif @overview.organization.provider? %>
      <p>
        <%= t('.organization.last_upload.zero') %>
      </p>
      <% end %>
    </div>
    <div class="mt-3 mt-md-5 d-md-flex justify-content-md-around">
      <% unless @overview.last_org_files.empty? %>
      <div class="my-2 my-md-0">
        <h3>
          <%= t('.organization.uploads.heading') %>
        </h3>
        <ul class="list-unstyled">
          <% @overview.last_org_files.each do |file| %>
          <li class="my-3">
            <%= bootstrap_icon(Settings.metadata_status[file.pod_metadata_status].icon_class, class: "pod-metadata-status #{file.pod_metadata_status} me-2") %>
            <%= file.filename %>
          </li>
          <% end %>
          <li class="my-3"><%= link_to t('.organization.uploads.all'), organization_path(@overview.organization) %></li>
        </ul>
      </div>
      <% end %>
      <% if @overview.organization.provider? %>
      <div class="my-2 my-md-0">
        <h3>
          <%= t('.organization.jobs.heading') %>
        </h3>
        <ul class="list-unstyled">
          <% if @overview.active_org_jobs.present? %>
          <% @overview.active_org_jobs.each do |status, jobs| %>
          <li class="my-3">
            <%= bootstrap_icon(Settings.job_status_group[status].icon_class, class: "pod-icon pod-job-tracker-status #{status} me-2")%>
            <%= t('.organization.jobs.status_html', count: jobs.count, status: t("job_tracker.status_group.#{status}.label").downcase) %>
          </li>
          <% end %>
          <% else %>
          <li class="my-3">
            <%= bootstrap_icon(Settings.job_status_group['completed'].icon_class, class: "pod-icon pod-job-tracker-status completed me-2")%>
            <%= t('.organization.jobs.status_html.zero') %>
          </li>
          <% end %>
          <li class="my-3"><%= link_to t('.organization.jobs.all'), processing_status_organization_path(@overview.organization) %></li>
        </ul>
      </div>
      <% end %>
      <div class="my-2 my-md-0">
        <h3>
          <%= t('.organization.actions.heading') %>
        </h3>
        <ul class="list-unstyled">
          <% if @overview.organization.provider? %>
          <% if can? :create, @overview.organization.default_stream.uploads.build %>
          <li class="my-3"><%= link_to t('.organization.actions.upload_file'), new_organization_upload_path(@overview.organization) %></li>
          <% end %>
          <li class="my-3"><%= link_to t('.organization.actions.view_provider_home'), organization_path(@overview.organization) %></li>
          <% else %>
          <li class="my-3"><%= link_to t('.organization.actions.harvest_data'), organization_path(@overview.organization) %></li>
          <li class="my-3"><%= link_to t('.organization.actions.data_docs'), 'https://github.com/pod4lib/aggregator/wiki/Harvesting-using-ResourceSync' %></li>
          <% end %>
          <% if can? :manage, @overview.organization %>
          <li class="my-3"><%= link_to t('.organization.actions.edit_org'), organization_users_path(@overview.organization) %></li>
          <% else %>
          <li class="my-3"><%= link_to t('.organization.actions.view_org_details'), organization_users_path(@overview.organization) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% else %>
  <!-- login section -->
  <div class="p-3 p-md-5 pb-1 pb-md-4 text-center">
    <% unless current_user %>
    <h2 class="h3">
      <%= t('.login.heading') %>
    </h2>
    <%= link_to t('.login.button'), new_user_session_path, class: 'btn btn-primary mt-2' %>
    <% end %>
    <h2 class="h3 mt-3 mt-md-5">
      <%= t('.login.contact_heading') %>
    </h2>
    <p class="fs-5">
      <%= t('.login.contact_html', wiki_url: 'https://github.com/pod4lib/aggregator/wiki', contact_email: Settings.contact_email) %>
    </p>
  </div>
  <% end %>
</div>
