<div class="container">
  <h1>Organizations</h1>

  <table class="table table-striped organizations">
    <thead>
      <tr>
        <th>Name</th>
        <th>Files</th>
        <th>Last updated</th>
        <th>Records</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td>
            <% if organization.icon.attached? %>
              <%= image_tag(organization.icon, class: 'organization-icon') %>
            <% end %>
            <%= link_to organization.name, organization %>
          </td>
          <td><%= organization.default_stream.files.size %> | <%= number_to_human_size organization.default_stream.files.sum(:byte_size) %></td>
          <td><%= organization.default_stream.uploads.last&.updated_at %></td>
          <td><%= number_with_delimiter organization.latest_statistics.unique_record_count %> unique (<%= number_with_delimiter organization.latest_statistics.record_count %> total)</td>
          <td><%= link_to 'Edit', edit_organization_path(organization), class: 'btn btn-secondary' if can? :edit, organization %></td>
          <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :delete, organization %></td>
        </tr>
      <% end %>
      <tr class="table-info">
        <td></td>
        <td><%= number_with_delimiter(@organizations.sum {|org| org.default_stream.files.size }) %> | <%= number_to_human_size @organizations.sum {|org| org.default_stream.files.sum(:byte_size)} %></td>
        <td></td>
        <td><%= number_with_delimiter(@organizations.sum { |org| org.latest_statistics.unique_record_count }) %> unique (<%= number_with_delimiter(@organizations.sum { |org| org.latest_statistics.record_count })%> total)</td>
      </tr>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Organization', new_organization_path, class: 'btn btn-primary' if can? :create, Organization.new %>
</div>
