<div class="container index-page">
  <h1>Organizations</h1>

  <table class="table table-striped organizations">
    <thead>
      <tr>
        <th colspan="2">Name</th>
        <th style="width: 6ch;" class="text-right">Files</th>
        <th class="text-right">Size</th>
        <th class="text-right">Unique records</th>
        <th class="text-right">Total records</th>
        <th>Last updated</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td class="text-center">
            <% if organization.icon.attached? %>
              <%= image_tag(organization.icon, class: 'icon-sm') %>
            <% end %>
          </td>
          <td>
            <%= link_to organization.name, organization %>
          </td>
          <td style="width: 6ch;" class="text-right"><%= organization.default_stream.files.size %></td>
          <td class="text-right"><%= number_to_human_size organization.default_stream.files.sum(:byte_size) %></td>
          <td class="text-right"><%= number_with_delimiter organization.latest_statistics.unique_record_count %></td>
          <td class="text-right"><%= number_with_delimiter organization.latest_statistics.record_count %></td>
          <td><%= organization.default_stream.uploads.last&.updated_at %></td>
          <td><%= link_to 'Edit', edit_organization_path(organization), class: 'btn btn-secondary btn-sm' if can? :edit, organization %></td>
          <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' if can? :delete, organization %></td>
        </tr>
      <% end %>
      <tr class="table-info">
        <td></td>
        <td></td>
        <td style="width: 6ch;" class="text-right"><%= number_with_delimiter(@organizations.sum {|org| org.default_stream.files.size }) %></td>
        <td class="text-right"><%= number_to_human_size @organizations.sum {|org| org.default_stream.files.sum(:byte_size)} %></td>
        <td class="text-right"><%= number_with_delimiter(@organizations.sum { |org| org.latest_statistics.unique_record_count }) %></td>
        <td class="text-right"><%= number_with_delimiter(@organizations.sum { |org| org.latest_statistics.record_count })%></td>
        <td></td>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Organization', new_organization_path, class: 'btn btn-primary' if can? :create, Organization.new %>
</div>
