<div class="container index-page">
  <h1 class="visually-hidden">Provider statistics</h1>
  <h2>Aggregated uploads from providers</h2>

  <% unless params[:page] %>
    <div class="row mb-5 mt-4">
      <div class="col">
        <h3 class="text-center h6">Files</h3>
        <%= line_chart uploads_chart_path %>
      </div>
      <div class="col">
        <h3 class="text-center h6">Records</h3>
        <%= line_chart records_chart_path %>
      </div>
    </div>
  <% end %>

  <h2>Default stream statistics by provider</h2>

  <p>
    Statistics are calculated daily and might not reflect the most recent uploads.
  </p>
  <table class="table table-striped organizations mt-4">
    <thead>
      <tr>
        <th colspan="2">Provider</th>
        <th class="text-end files-column">Files</th>
        <th class="text-end">Size</th>
        <th class="text-end">Unique records</th>
        <th class="text-end">Total records</th>
        <th>Last update</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td class="align-middle text-center icon-column">
            <% if organization.icon.attached? %>
              <%= image_tag(organization.icon, class: 'icon-sm') %>
            <% end %>
          </td>
          <td class="align-middle">
            <%= link_to organization.name, organization %>
          </td>
          <td class="align-middle text-end files-column"><%= organization.latest_statistics.file_count %></td>
          <td class="align-middle text-end"><%= number_to_human_size organization.latest_statistics.file_size %></td>
          <td class="align-middle text-end"><%= number_with_delimiter organization.latest_statistics.unique_record_count %></td>
          <td class="align-middle text-end"><%= number_with_delimiter organization.latest_statistics.record_count %></td>
          <td class="align-middle">
            <% if organization.default_stream.uploads.last&.created_at %>
              <%= local_time(organization.default_stream.uploads.last&.created_at, format: datetime_display_format()) %>
            <% end %>
          </td>

          <% if can? :manage, Organization %>
            <td class="align-middle"><%= link_to 'Edit', organization_details_organization_path(organization), class: 'btn btn-secondary btn-sm' if can? :edit, organization %></td>
            <td class="align-middle"><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' if can? :destroy, organization %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if can? :manage, Organization %>
    <%= link_to 'New organization', new_organization_path, class: 'btn btn-primary' if can? :create, Organization.new %>
  <% end %>

</div>
