<div class="container index-page">
  <h1 class="visually-hidden">Providers</h1>

  <h2>Default stream statistics by provider</h2>
  <p>
    Statistics are calculated daily and might not reflect the most recent uploads.
  </p>
  <table class="table table-striped organizations mt-4" id="providers">
    <thead>
      <tr>
        <th colspan="2">Provider</th>
        <th class="text-end files-column">Files</th>
        <th class="text-end">Size</th>
        <th class="text-end">Unique records</th>
        <th class="text-end">Total records</th>
        <th>Last update</th>
        <% if can? :manage, Organization %>
          <th colspan="2">Actions</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @providers.each do |organization| %>
        <% next unless can? :read, organization %>
        <tr>
          <td class="align-middle text-center icon-column">
            <% if organization.icon.attached? %>
              <%= image_tag(organization.icon, alt: '', class: 'icon-sm') %>
            <% end %>
          </td>
          <td class="align-middle">
            <%= link_to organization.name, organization %>
          </td>
          <td class="align-middle text-end files-column"><%= organization.default_stream&.statistic&.file_count || 0 %></td>
          <td class="align-middle text-end"><%= number_to_human_size organization.default_stream&.statistic&.file_size || 0 %></td>
          <td class="align-middle text-end"><%= number_with_delimiter organization.default_stream&.statistic&.unique_record_count || 0 %></td>
          <td class="align-middle text-end"><%= number_with_delimiter organization.default_stream&.statistic&.record_count || 0 %></td>
          <td class="align-middle">
            <% if created_at = organization.default_stream.uploads.maximum(:created_at) %>
              <%= local_time(created_at, format: datetime_display_format()) %>
            <% end %>
          </td>

          <% if can? :manage, Organization %>
            <td class="align-middle"><%= link_to 'Edit', organization_details_organization_path(organization), class: 'btn btn-secondary btn-sm' if can? :edit, organization %></td>
            <td class="align-middle"><%= link_to 'Delete', organization, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' if can? :destroy, organization %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if can? :manage, Organization %>
    <%= link_to 'New organization', new_organization_path, class: 'btn btn-primary' if can? :create, Organization.new %>
  <% end %>

  <!-- Only show consumer-only table to admins -->
  <% if can?(:view, :consumers) && @consumers.any? %>
    <div class="mt-5">
      <h2>Consumer-only organizations</h2>
      <table class="table table-striped organizations mb-5 mt-4" id="consumers">
        <thead>
          <tr>
            <th colspan="2">Consumer</th>
            <th class="text-end">Users</th>
            <th>POD contact</th>
            <% if can? :manage, Organization %>
              <th colspan="2">Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @consumers.each do |organization| %>
            <tr>
              <td class="align-middle text-center icon-column">
                <% if organization.icon.attached? %>
                  <%= image_tag(organization.icon, alt: '', class: 'icon-sm') %>
                <% end %>
              </td>
              <td class="align-middle">
                <%= link_to organization.name, organization %>
              </td>
              <td class="align-middle text-end"><%= organization.users.count %></td>
              <td class="align-middle">
                <% if organization.contact_email.present? %>
                  <span class="lead"><%= mail_to organization.contact_email.email %></span>
                <% end %>
              </td>
              <% if can? :manage, Organization %>
                <td class="align-middle"><%= link_to 'Edit', organization_details_organization_path(organization), class: 'btn btn-secondary btn-sm' if can? :edit, organization %></td>
                <td class="align-middle"><%= link_to 'Delete', organization, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' if can? :destroy, organization %></td>
              <% end %>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

</div>
