<%= render 'shared/layout_manage_organization' do %>

  <h3>Organization details</h3>

  <!-- Admin/owner view: -->
  <% if can? :manage, @organization %>
  <div class="mb-3">
    <%= bootstrap_form_with(model: @organization, local: true) do |form| %>
    <%= render 'form', organization: @organization, form: form %>
    <div class="actions">
      <%= form.primary 'Update organization details' %>
    </div>
    <% end %>
  </div>

  <!-- Member view: -->
  <% else %>
  <dl class="organization-details">
    <dt>
      <h4>Name</h4>
      <p class="<%= @organization.name.blank? ? 'fst-italic' : '' %>">
        <%= @organization.name.blank? ? 'no value provided' : @organization.name %>
      </p>
    </dt>
    <dt>
      <h4>Code</h4>
      <p class="<%= @organization.code.blank? ? 'fst-italic' : '' %>">
        <%= @organization.code.blank? ? 'no value provided' : @organization.code %>
      </p>
    </dt>
    <dt>
      <h4>POD contact for this organization</h4>
      <p class="<%= @organization.contact_email.blank? ? 'fst-italic' : '' %>">
        <%= @organization.contact_email.blank? ? 'no value provided' : @organization.contact_email.email %>
      </p>
    </dt>
    <dt>
      <h4>Icon</h4>
      <% if @organization.icon.attached? %>
      <%= image_tag(@organization.icon, class: 'organization-icon') %>
      <% end %>
    </dt>
  </dl>
  <% end %>
<% end %>
