<%= render 'shared/layout_manage_organization' do %>

  <h3>Organization details</h3>

  <!-- Admin/owner view: -->
  <% if can? :manage, @organization %>
  <div class="mb-3">
    <%= bootstrap_form_with(model: @organization, local: true) do |form| %>
    <%= render 'form', organization: @organization, form: form %>
    <div class="actions">
      <%= form.primary 'Update organization details' %>
    </div>
    <% end %>
  </div>

  <!-- Member view: -->
  <% else %>
  <dl class="organization-details">
    <dt>Name</dt>
    <dd class="<%= @organization.name.blank? ? 'fst-italic' : '' %>">
      <%= @organization.name.blank? ? 'no value provided' : @organization.name %>
    </dd>

    <dt>Code</dt>
    <dd class="<%= @organization.code.blank? ? 'fst-italic' : '' %>">
        <%= @organization.code.blank? ? 'no value provided' : @organization.code %>
    </dd>

    <dt>POD contact for this organization</dt>
    <dd>
      <direct_upload class="<%= @organization.contact_email.blank? ? 'fst-italic' : '' %>">
        <%= @organization.contact_email.blank? ? 'no value provided' : @organization.contact_email.email %>
    </dd>

    <dt>Icon</dt>
    <dd>
      <% if @organization.icon.attached? %>
      <%= image_tag(@organization.icon, class: 'organization-icon mt-2') %>
      <% end %>
    </dd>
  </dl>
  <% end %>
<% end %>
