<%= render 'shared/organization_header' %>

<div class="container manage-organization-container">
  <%= render 'streams/header', stream: @organization.default_stream %>
  <%= render 'shared/provider_page_header'%>

  <h2><%= t('job_tracker.title') %></h2>

  <%= render 'streams/job_status', stream: @organization.default_stream %>

</div>
