<div class="position-relative overflow-hidden mb-3 bg-light organization">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h1 class="display-4 font-weight-normal">
        <% if @organization.icon.attached? %>
          <%= image_tag(@organization.icon, class: 'organization-icon') %>
        <% end %>

        <%= @organization.name %>
      </h1>
      <%= link_to 'Edit', edit_organization_path(@organization), class: 'align-self-center btn btn-primary' if can? :edit, @organization %>
    </div>
    <p class="lead">
      Last updated: <%= @organization.default_stream.uploads.last&.updated_at %>
    </p>
    <p class="lead">
      Records: <%= @organization.marc_records.distinct.count(:marc001) %> unique (<%= @organization.marc_records.count %> total)
    </p>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h2>Stream <%= @organization.default_stream.display_name %> (<%= @organization.default_stream.marc_records.distinct.count(:marc001) %> records)</h2>
    </div>
    <div class="card-header d-flex justify-content-between">
      <h3 class="h5 align-self-center mb-0">Files (<%= @organization.default_stream.files.size %> | <%= number_to_human_size @organization.default_stream.files.sum(:byte_size) %>)</h3>
      <%= link_to 'Upload file', new_organization_upload_path(@organization), class: 'btn btn-primary' %>
    </div>

    <% @organization.default_stream.uploads.each_with_index do |upload, ix| %>
      <ul class="list-group list-group-flush">
        <% upload.files.each do |file| %>
          <li class="list-group-item"><%= link_to file.filename, download_url(file) %> (<%= number_to_human_size file.byte_size %> / <%= file.content_type %>) (<%= file.metadata['count'] %>)</li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="card mt-5">
    <div class="card-header d-flex justify-content-between">
      <h2 class="h5 align-self-center mb-0">Access Tokens</h2>
    </div>
    <div class="card-body">
      <p>Tokens  you have generated that can be used to access the POD API.</p>
      <%= link_to 'Manage tokens', organization_allowlisted_jwts_path(@organization), class: 'btn btn-primary' if can? :create, @organization.allowlisted_jwts.build %>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-header d-flex justify-content-between">
      <h2 class="h5 align-self-center mb-0">Users</h2>
      <%= link_to 'Invite', organization_invite_new_path(@organization), class: 'btn btn-primary' if can? :invite, @organization %>
    </div>

    <ul class="list-group list-group-flush">
      <% @organization.roles.each do |role| %>
        <% role.users.each do |user| %>
          <li class="list-group-item">
            <%= content_tag :span, user.email.truncate(50), title: user.email %>
            <%= link_to 'Remove', [@organization, user], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :manage, @organization %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="card my-5">
    <div class="card-header d-flex justify-content-between">
      <h2 class="h5 align-self-center mb-0">Contact emails</h2>
      <%= link_to 'Add', new_organization_contact_email_path(@organization), class: 'btn btn-primary' if can? :manage, @organization %>
    </div>

    <ul class="list-group list-group-flush">
      <% @organization.contact_emails.each do |contact_email| %>
        <li class="list-group-item">
          <%= content_tag :span, contact_email.email %>
          <%= content_tag :span, 'confirmed ✅', class: 'badge badge-success' if contact_email.confirmed_at.present? %>
          <%= link_to 'Remove', [@organization, contact_email], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :manage, @organization %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
