<p id="notice"><%= notice %></p>

<h1><%= @organization.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<%= link_to 'Upload file', new_organization_upload_path(@organization) %>
<p>Files:</p>
<% @organization.default_stream.uploads.each_with_index do |upload, ix| %>
  <ul>
    <% upload.files.each do |file| %>
      <li><%= link_to file.filename, url_for(file) %>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-primary' if can? :edit, @organization %>
