<div class="position-relative overflow-hidden mb-3 bg-light organization">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h1 class="display-4 font-weight-normal">
        <% if @organization.icon.attached? %>
          <%= image_tag(@organization.icon, class: 'organization-icon') %>
        <% end %>

        <%= @organization.name %>
      </h1>
      <%= link_to 'Edit', edit_organization_path(@organization), class: 'align-self-center btn btn-primary' if can? :edit, @organization %>
    </div>
    <p class="lead">
      Last updated: <%= @organization.default_stream.uploads.last&.updated_at %>
    </p>
    <p class="lead">
      Records: <%= number_with_delimiter @organization.latest_statistics.unique_record_count %> unique (<%= number_with_delimiter @organization.latest_statistics.record_count %> total)
    </p>
    <p class="lead">
      Streams: <%= link_to number_with_delimiter(@organization.streams.count), organization_streams_path(@organization) %>
    </p>
  </div>
</div>

<div class="container">
  <%= render 'streams/stream_uploads', stream: @organization.default_stream %>

  <div class="card mt-5">
    <div class="card-header d-flex justify-content-between">
      <h2 class="h5 align-self-center mb-0">Access Tokens</h2>
    </div>
    <div class="card-body">
      <p>Tokens  you have generated that can be used to access the POD API.</p>
      <%= link_to 'Manage tokens', organization_allowlisted_jwts_path(@organization), class: 'btn btn-primary' if can? :create, @organization.allowlisted_jwts.build %>
    </div>
  </div>

  <div class="card my-5">
    <div class="card-header d-flex justify-content-between">
      <h2 class="h5 align-self-center mb-0">Users</h2>
      <%= link_to 'Invite', organization_invite_new_path(@organization), class: 'btn btn-primary' if can? :invite, @organization %>
    </div>

    <ul class="list-group list-group-flush">
      <% @organization.roles.each do |role| %>
        <% role.users.each do |user| %>
          <li class="list-group-item">
            <%= content_tag :span, title: user do %>
              <%= mail_to user.email, (user.name.presence || user.email).truncate(50) %>
              <% if user.title.present? %>
                (<%= user.title %>)
              <% end %>
            <% end %>
            <%= link_to 'Remove', [@organization, user], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :manage, @organization %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="card my-5">
    <div class="card-header d-flex justify-content-between">
      <h2 class="h5 align-self-center mb-0">Contact emails</h2>
      <%= link_to 'Add', new_organization_contact_email_path(@organization), class: 'btn btn-primary' if can? :manage, @organization %>
    </div>

    <ul class="list-group list-group-flush">
      <% @organization.contact_emails.each do |contact_email| %>
        <li class="list-group-item">
          <%= content_tag :span, contact_email.email %>
          <%= content_tag :span, 'confirmed ✅', class: 'badge badge-success' if contact_email.confirmed_at.present? %>
          <%= link_to 'Remove', [@organization, contact_email], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :manage, @organization %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
