<% if can?(:read, upload) && upload.url.present? && upload.files.none? %>
  <tr>
    <td class="text-center"><%= bootstrap_icon("arrow-repeat", class: 'pod-icon')%></td>
    <td>
      <i>Downloading...</i>
    </td>
    <td><%= l(upload.created_at, format: :long) %></td>
    <td class="text-end">-</td>
    <td>-</td>
    <td class="text-end">-</td>
    <td><%= link_to 'Source 🔗', upload.url, title: upload.url %></td>
  </tr>
<% end %>
<% upload.files.each do |file| %>
  <tr>
    <td class="align-middle text-center">
      <%= bootstrap_icon(Settings.metadata_status[file.pod_metadata_status].icon_class, class: "pod-metadata-status #{file.pod_metadata_status}") %>
      <span class="visually-hidden"><%= file.pod_metadata_status %></span>
    </td> 
    <td class="align-middle">
      <%= link_to_if can?(:read, upload), file.filename, download_url(file), title: "Download #{file.filename}" %>
    </td>
    <td class="align-middle"><%= local_time(file.created_at, format: datetime_display_format()) %></td>
    <td class="align-middle text-end"><%= number_to_human_size file.byte_size %></td>
    <td class="align-middle"><%= file.content_type %></td>
    <td class="align-middle text-end"><%= file.metadata['count'] ? number_with_delimiter(file.metadata['count']) : '-' %></td>
    <td class="align-middle text-center">
      <% if can? :read, upload %>
        <%= link_to file_info_organization_upload_path(@organization, upload, file), class: 'btn btn-sm btn-secondary' do %>
          <%= bootstrap_icon("search", class: "pod-icon") %>
          <span class="visually-hidden">Profile</span>
        <% end %>
        <% if upload.url.present? %>
          <%= link_to 'Source 🔗', upload.url, title: upload.url, class: 'btn btn-sm btn-link' %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
