<tr>
  <td class="align-middle text-center">
    <%= render(StatusIcons::FileStatusIconComponent.new(status: file.pod_metadata_status)) %>
  </td>
  <td class="align-middle">
    <%= link_to_if can?(:read, upload), file.filename, download_url(file), title: "Download #{file.filename}" %>
  </td>
  <td class="align-middle"><%= local_time(file.created_at, format: datetime_display_format()) %></td>
  <td class="align-middle text-end"><%= number_to_human_size file.byte_size %></td>
  <td class="align-middle"><%= file.content_type %></td>
  <td class="align-middle text-end">
    <%= file.metadata['count'] ? number_with_delimiter(file.metadata['count']) : '-' %>
  </td>
  <td class="align-middle text-center">
    <% if can? :read, upload %>
      <%= link_to file_info_organization_upload_path(@organization, upload, file), class: 'btn btn-sm btn-secondary' do %>
        <i class="bi bi-file-earmark pod-icon" aria-label="Profile"></i>
      <% end %>
    <% end %>
  </td>
</tr>
