<ul class="table-key list-unstyled list-inline pt-3" id="uploaded-file-filters">
  <% Settings.metadata_status.each do |status, _values| %>
    <li class="list-inline-item <%= 'active' if @current_filter == status.to_s %>">
      <% if local_assigns[:filtering_enabled] %>
        <%= link_to organization_stream_path(@organization, @stream, filter: status), data: { turbo_frame: 'stream-upload-files' } do %>
          <%= render(MetadataStatusIconComponent.new(status: status, show_label: true)) %>
        <% end %>
      <% else %>
        <%= render(MetadataStatusIconComponent.new(status: status, show_label: true)) %>
      <% end %>
    </li>
  <% end %>

<% if local_assigns[:filtering_enabled] %>
  <li class="list-inline-item">
    <%= link_to "Clear filter", organization_stream_path(@organization, @stream), data: { turbo_frame: 'stream-upload-files' }, class: 'btn btn-link btn-sm' %>
  </li>
<% end %>
</ul>

<table class="table table-striped mb-3 text-break">
  <thead>
    <th class="text-center">Status</th>
    <th>File</th>
    <th>Date created</th>
    <th class="text-end">Size</th>
    <th>Content type</th>
    <th class="text-end">Records</th>
    <th><span class="visually-hidden">Actions</span></th>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
</table>
