<%= bootstrap_form_with(model: [@organization, upload], local: true, multipart: true) do |form| %>
  <%= form.text_field :name %>

  <%= hidden_field_tag(:stream, (upload.stream || current_stream).friendly_id) unless (upload.stream || current_stream).default? %>

  <div class="custom-file">
    <%= form.file_field_without_bootstrap :files, type: :file, multiple: true, direct_upload: true, id: 'customFile', class: 'custom-file-input' %>
    <label class="custom-file-label" for="customFile">Upload file</label>
  </div>

  <div class="direct-upload-area"></div>

  <div class="font-weight-bold m-3">
    OR
  </div>

  <%= form.text_field :url, placeholder: 'https://example.com/12345.marc', label: 'Upload via URL' %>

  <div class="actions mt-3">
    <%= form.primary %>
  </div>
<% end %>
