<% if can?(:read, upload) && upload.url.present? && upload.files.none? %>
  <tr>
    <td class="text-center"><i class="bi bi-arrow-repeat pod-icon"></i></td>
    <td>
      <i>Downloading...</i>
    </td>
    <td><%= local_time(upload.created_at, format: datetime_display_format()) %></td>
    <td class="text-end">-</td>
    <td>-</td>
    <td class="text-end">-</td>
    <td><%= link_to 'Source 🔗', upload.url, title: upload.url %></td>
  </tr>
<% end %>
<% if upload.status == 'compacted' %>
  <tr>
    <td class="align-middle text-center">
      <i class="<%= Settings.metadata_status.unknown.icon_class %> pod-metadata-status" aria-label=""></i>
    </td>
    <td class="align-middle"><strong>Compacted uploads:</strong></td>
    <td class="align-middle"><%= local_time(upload.created_at, format: datetime_display_format()) %></td>
    <td class="align-middle text-end">-</td>
    <td class="align-middle">-</td>
    <td class="align-middle text-end">-</td>
    <td></td>
  </tr>
  <% upload.compacted_uploads.each do |u| %>
    <%= render 'uploads/row', upload: u %>
  <% end %>
<% end %>

<tr>
  <td class="align-middle text-center">
    <%= render(MetadataStatusIconComponent.new(status: upload.metadata_status)) %>
  </td>
  <td class="align-middle">
    <% if upload.files.one? %>
      <% file = upload.files.first %>
      <%= link_to_if can?(:read, upload), file.filename, download_url(file), title: "Download #{file.filename}" %>
    <% elsif upload.files.any? %>
      <%= upload.files.count %> files:

      <% upload.files.each do |file| %>
        <%= link_to_if can?(:read, upload), file.filename, download_url(file), title: "Download #{file.filename}" %>
      <% end %>
    <% end %>
  </td>
  <td class="align-middle"><%= local_time(upload.created_at, format: datetime_display_format()) %></td>
  <td class="align-middle text-end"><%= number_to_human_size upload.total_byte_size %></td>
  <td class="align-middle"><%= upload.content_type if upload.files.one? %></td>
  <td class="align-middle text-end">
    <span class="text-success"><%= "+#{upload.marc_records_count}" if upload.marc_records_count.positive? %></span>
    <span class="text-danger"><%= "-#{upload.deletes_count}" if upload.deletes_count&.positive? %></span>
  </td>
  <td class="align-middle text-center">
    <% if can? :read, upload %>
      <% if upload.files.one? %>
      <% file = upload.files.first %>
        <%= link_to file_info_organization_upload_path(@organization, upload, file), class: 'btn btn-sm btn-secondary' do %>
          <i class="bi bi-search pod-icon" aria-label="Profile"></i>
        <% end %>
      <% end %>
      <% if upload.url.present? %>
        <%= link_to 'Source 🔗', upload.url, title: upload.url, class: 'btn btn-sm btn-link' %>
      <% end %>
    <% end %>
  </td>
</tr>
