<%= render 'shared/layout_upload_page' do %>

  <div class="d-flex align-items-center">

    <h2 class="font-weight-normal mb-0">Uploads</h2>

  </div>

  <table class="table table-striped mt-5">

    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Stream</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @uploads.sort_by(&:created_at).reverse.each do |upload| %>
        <tr>
          <td><%= link_to upload.name, [@organization, upload] %></td>
          <td><%= local_time(upload.created_at, format: datetime_display_format()) %></td>
          <td><%= link_to upload.stream.display_name, organization_stream_path(upload.stream.organization, upload.stream) %></td>
          <td><%= link_to 'Destroy', [@organization, upload], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' if can? :destroy, upload %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

<% end %>
