<%= render 'shared/layout_upload_page' do %>

  <div class="d-flex align-items-center">

    <h2 class="font-weight-normal mb-0">Uploads</h2>

    <div class="ms-auto p-2">
      <span class="ms-4"><%= link_to 'New upload to default stream', new_organization_upload_path(@organization), class: 'btn btn-primary' if can? :create, @organization.default_stream.uploads.build %></span>
    </div>

  </div>

  <%= turbo_frame_tag @stream, 'uploads' do %>
    <% if @uploads.none? %>
      <em>No uploads found.</em>
    <% else %>
      <%= render 'uploads/table' do %>
          <% @uploads.each do |upload| %>
            <%= render 'uploads/row', upload: upload %>
          <% end %>
      <% end %>

      <%= paginate @uploads %>
    <% end %>
  <% end %>
<% end %>
