<%= render 'shared/layout_upload_page' do %>

  <div class="d-flex align-items-center">
    <h2 class="font-weight-normal mb-0">File: <%= @blob.filename %></h2>

    <div class="ms-auto p-2">
      <% if can? :read, @upload %>
          <%= link_to 'Download', download_url(@attachment), class: 'btn btn-primary' %>
          <%= link_to 'Source 🔗', @upload.url, title: @upload.url, class: 'btn btn-primary' if @upload.url.present? %>
      <% end %>
    </div>
  </div>

  <%= render 'uploads/summary_card', upload: @upload %>

  <% if @marc_profile %>
    <%= render 'marc_profiles/summary', marc_profile: @marc_profile %>
    <%= render 'marc_profiles/histogram', marc_profile: @marc_profile %>
    <%= render 'marc_profiles/fields', marc_profile: @marc_profile %>
  <% else %>
    <div class="alert alert-info">No MARC profiling data found</div>
  <% end %>

<% end %>

