<%= render 'shared/organization_header' %>

<div class="container">
  <h2><%= @blob.filename %></h2>

  <%= @blob.byte_size %>

  <%= render 'marc_profiles/summary', marc_profile: @marc_profile %>
  <%= render 'marc_profiles/fields', marc_profile: @marc_profile %>
</div>
