<%= render 'shared/organization_header' %>
<div class="container">
  <%= link_to 'Stream', [@upload.organization, @upload.stream] %>
  <div class="d-flex justify-content-between">
    <h1><%= @blob.filename %></h1>

    <div>
      <%= link_to 'Download', download_url(@blob), class: 'btn btn-secondary' %>
    </div>
  </div>

  <%= @blob.byte_size %>

  <%= render 'marc_profiles/summary', marc_profile: @marc_profile %>
  <%= render 'marc_profiles/fields', marc_profile: @marc_profile %>
</div>
