<%= render 'shared/organization_header' %>

<div class="container">
  <%= link_to 'Stream', [@upload.organization, @upload.stream] %>

  <div class="d-flex justify-content-between">
    <h2><%= @blob.filename %></h2>

    <% if can? :read, @upload %>
      <div>
        <%= link_to 'Download', download_url(@attachment), class: 'btn btn-secondary' %>
        <%= link_to 'Source 🔗', @upload.url, title: @upload.url, class: 'btn btn-secondary' if @upload.url.present? %>
      </div>
    <% end %>
  </div>

  <p class="lead">Size: <%= number_to_human_size @blob.byte_size %></p>
  <p class="lead">Records: <%= number_with_delimiter @blob.metadata['count'] || 0 %></p>


  <% if @marc_profile %>
    <%= render 'marc_profiles/summary', marc_profile: @marc_profile %>
    <%= render 'marc_profiles/histogram', marc_profile: @marc_profile %>
    <%= render 'marc_profiles/fields', marc_profile: @marc_profile %>
  <% else %>
    <div class="alert alert-info">No MARC profiling data found</div>
  <% end %>
</div>
