<div class="position-relative overflow-hidden mb-3 bg-light">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent row">
        <li class="breadcrumb-item"><%= link_to @organization.name, @organization %></li>
        <li class="breadcrumb-item"><%= link_to @upload.stream.display_name, [@organization, @upload.stream] if @upload.stream %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @upload.name %></li>
      </ol>
    </nav>

    <div class="d-flex justify-content-between">
      <h1><%= @upload.name %></h1>
    </div>
  </div>
</div>

<div class="container">
  <h2>Files</h2>

  <table class="table table-striped mb-0 mt-4">
    <thead><th class="pl-4">File</th><th>Date created</th><th class="text-right">Size</th><th>Content type</th><th class="text-right">Records</th><th>File status</th></thead>
    <tbody>
      <%= render 'uploads/file_rows', upload: @upload %>
    </tbody>
  </table>
</div>
