<%= render 'shared/layout_upload_page' do %>

  <div class="d-flex align-items-center">
    <h2 class="font-weight-normal mb-0">Upload: <%= @upload.name %></h2>

    <div class="ms-auto p-2">
      <span><%= link_to 'View all uploads', organization_uploads_path(@upload.organization), class: 'pr-4' %></span>
      <span class="ms-4"><%= link_to 'New upload', new_organization_upload_path(@stream.organization, stream: (@stream.default? ? nil : @stream.friendly_id)), class: 'btn btn-primary' if can? :create, @stream.uploads.build %></span>
    </div>
    
  </div>

  <p class="lead">
    Part of stream: <%= link_to @stream.display_name, organization_stream_path(@stream.organization, @stream) %>
  </p>

  <%= render 'uploads/file_table' do %>
    <%= render 'uploads/file_rows', upload: @upload %>
  <% end %>

<% end %>
