<%= render 'shared/layout_upload_page' do %>

  <div class="d-flex align-items-center">
    <h2 class="font-weight-normal mb-3">Upload: <%= @upload.name %></h2>

    <div class="ms-auto p-2">
      <span><%= link_to 'View all uploads', organization_uploads_path(@upload.organization), class: 'pr-4' %></span>
      <% if @upload.stream.default? %>
        <span class="ms-4"><%= link_to 'New upload', new_organization_upload_path(@upload.stream.organization), class: 'btn btn-primary' if can? :create, @upload.stream.uploads.build %></span>
      <% end %>
    </div>

  </div>
  <p class="lead">
    Status: <%= @upload.status.humanize %>
  </p>
  <p class="lead">
    Part of stream: <%= link_to @upload.stream.display_name, organization_stream_path(@upload.stream.organization, @upload.stream) %>
  </p>

  <h3 class="mb-0 pt-4 pb-3">Files</h3>

  <%= render 'uploads/table' do %>
    <%= render 'uploads/row', upload: @upload %>
  <% end %>

<% end %>
