<%= render 'shared/layout_manage_organization' do %>
  <h3>Access tokens</h3>

  <table class="table mt-4">
    <thead>
      <tr>
        <th>Label</th>
        <th>Token</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @allowlisted_jwts.each_with_index do |token, index| %>
        <tr data-controller="copy-text">
          <td><%= token.label %> (scope: <%= token.scope %>)</td>
          <td>
            <%= text_field_tag 'token', token.encoded_token, class: 'text-monospace w-100 custom-copy-text', disabled: true, data: { 'copy-text-target': 'text' } %>
            <i class="small text-muted">
              Last used:
              <% if token.last_used %>
                <b><%= time_ago_in_words(token.last_used) %> ago</b>
              <% else %>
                never
              <% end %>
            </i>
          </td>
          <td class="text-end">
            <button class='btn btn-primary' data-action="copy-text#copy">
              <i class="bi bi-files pod-icon"></i> Copy
            </button>
            <%= link_to 'Revoke', [@organization, token], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, token %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Create token', new_organization_allowlisted_jwt_path(@organization), class: 'btn btn-primary' if can? :create, @organization.allowlisted_jwts.build %>
<% end %>
