<%= render 'shared/organization_header' %>

<div class="container manage-organization-container">
    <%= render 'shared/manage_organization_header' %>

    <h2>Organization Users</h2>

  <table class="table mt-4">
    <thead>
      <tr>
        <th>Label</th>
        <th>Token</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @allowlisted_jwts.each do |token| %>
        <tr>
          <td><%= token.label %> (scope: <%= token.scope %>)</td>
          <td>
            <%= text_field_tag 'token', token.encoded_token, class: 'text-monospace w-100 custom-copy-text', disabled: true %>
            <i class="small text-muted">
              Last used:
              <% if token.last_used %>
                <b><%= time_ago_in_words(token.last_used) %> ago</b>
              <% else %>
                never
              <% end %>
            </i>
          </td>
          <td class="text-end">
            <button class='custom-copy-button btn btn-primary'><%= bootstrap_icon('files', class: 'pod-icon') %> Copy</button> 
            <%= link_to 'Revoke', [@organization, token], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :delete, token %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Create token', new_organization_allowlisted_jwt_path(@organization), class: 'btn btn-primary' if can? :create, @organization.allowlisted_jwts.build %>
</div>
