<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t('.title') %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', nonce: true %>
    <%= favicon_link_tag 'favicon.svg' %>
    <%= content_for(:head) %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <div class="container">
      <%= render partial: '/shared/flash_msg', layout: nil %>
    </div>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
