<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<head>
  <title><%= t('.title') %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.svg' %>
  <%= content_for(:head) %>
  <%= javascript_importmap_tags %>
</head>

<body class="min-vh-100 d-flex flex-column">
  <!-- header -->
  <header>
    <%= render 'shared/nav' %>
    <%= content_for :org_header %>
    <div class="container">
      <%= render partial: '/shared/flash_msg', layout: nil %>
    </div>
  </header>

  <!-- main content -->
  <main class="flex-fill">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>

  <!-- footer -->
  <%= render 'shared/footer' %>
</body>

</html>
