<!DOCTYPE html>
<html>
  <head>
    <title>Aggregator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <div class="container">
      <%= render partial: '/shared/flash_msg', layout: nil %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
