<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<head>
  <title><%= t('.title') %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', nonce: true %>
  <%= favicon_link_tag 'favicon.svg' %>
  <%= content_for(:head) %>
</head>

<body class="min-vh-100 d-flex flex-column">
  <!-- header -->
  <header>
    <%= render 'shared/nav' %>
    <!-- if an organization header is displayed, flash messages will instead display in _organization_header.html.erb -->
    <% if !defined? @organization %>
      <div class="container">
        <%= render partial: '/shared/flash_msg', layout: nil %>
      </div>
    <% end %>
  </header>

  <!-- main content -->
  <main class="flex-fill">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>

  <!-- footer -->
  <%= render 'shared/footer' %>
</body>

</html>
